# Ignorar tudo
*

# Permitir o .gitignore
!.gitignore

# Permitir pasta config e arquivos específicos
!config/
config/**/*
!config/legendarysurvivaloverhaul/legendarysurvivaloverhaul-common.toml
!config/defaultoptions/keybindings.txt
!config/defaultoptions/options.txt
!config/deathfinder-server.toml
!config/tarotcards-common.toml
!config/aether-common.toml
!config/README.md
!config/betterf3.toml
!config/irons_spellbooks-client.toml
!config/structurify.json
!config/majruszsdifficulty.json
!config/Feathers-Client.toml
!config/Feathers-Common.toml
!config/Elenai-Dodge-2-Client.toml
!config/Elenai-Dodge-2-Common.toml

# Permitir pasta mods, mas ignorar .connector
!mods/
!mods/**
mods/.connector/
mods/.connector/**

# Permitir resourcepacks
!resourcepacks/
!resourcepacks/**